/* _____ BUTTON _____ */

.button { margin: 3px 1px; background: transparent; border: 1px solid #24ACC0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-radius: 5px; font-size: .85em ; font-weight: 500; }
p .button { padding: .3em .6em; }
.button:hover,
.button:focus { background: #2f8f9d;  border: 1px solid #2f8f9d; color: #eee; }

.b_active,
.b_active:hover,
.b_active:focus { background: #004d57;  border: 1px solid #004d57; color: #eee; }

.b_active a,
.b_active a:hover { color: #eee; }

.b_shadow { box-shadow: 0px 0px 1px #004D57; }
.b_shadow:active { box-shadow: inset 0px 0px 1px #555; }

/* группировка кнопок */
.button-toolbar>.button-group { margin-right: 10px; float: left; }
.button-toolbar .button { margin: 0px; }
.button-group>.button:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #4d838a;
}
.button-group>.button {
  float: left;
  margin: 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-left: 0;
}
.button-group>.button:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.button-group:after {
  content: "";
  display: table;
  clear: both;
}

.button-small { font-size: .85em; }
.button-large { font-size: 1.1em; }
.button-xlarge { font-size: 1.25em; }
.button-spase { padding: .5em 2em; font-size: 1em; }

.button-transparent { background: rgba(0, 0, 0, 0.7); color: #fff; }



/* _____ CURRENCY-LIST _____ */
.currency-list { padding: 0px;  }
.currency-list .jq-selectbox__trigger { display: none;  }
.currency-list .jq-selectbox__select { height: 10px; border: none; background: none; box-shadow: none; text-shadow: none; padding: 5px; font-size: 1.2em; color: #fff;  }
.currency-list .jq-selectbox__select:hover { background: none;  }
.currency-list.jq-selectbox.focused .jq-selectbox__select { border: none; }
.currency-list .jq-selectbox__select-text { margin-top: -10px;  }
.currency-list .jq-selectbox__dropdown { top: -1px !important; left: -1px !important; border: 1px solid #00C5DC; box-shadow: none; width: 33px; padding: 5px; }
.currency-list .jq-selectbox__dropdown li { padding: 2px 5px; }
.currency-list .jq-selectbox li:hover { background-color: #00C5DC; }


/* _____ BADGE _____ */

.badge {
    padding: 0.1em 0.5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    color: white;
}
.badge.red { background: #D56666; }
.badge.green { background: #008A60; }
.badge.blue { background: #00788A; }
.badge.grey { background: gray; }



/* _____ WELL _____ */

.well { background: #eceae8; border-radius: 5px; padding: 20px; }
.well.red { background: #DA8686; }
.well.green { background: #3FC89E; }
.well.blue { background: #46A9B8; }
.well.grey { background: gray; }



/* _____ MEDIA _____ */

.media { margin-top: 15px; }
.media:first-child { margin-top: 0; }
.media,
.media-body { overflow: hidden; zoom: 1; }
.media-body { width: 10000px; }
.media-object { display: block; }
.media-right,
.media > .push-right { padding-left: 10px; }
.media-left,
.media > .pull-left { padding-right: 10px; }
.media-left,
.media-right,
.media-body { display: table-cell; vertical-align: top; }
.media-middle { vertical-align: middle; }
.media-bottom { vertical-align: bottom; }
.media-heading { margin-top: 0; margin-bottom: 5px; line-height: 1; font-size: 1em; }
.media-list { padding-left: 0; list-style: none; }



/* _____ CUSTOM ICON _____ */

/* Menu */
[class^="ico_menu_"] { display: inline-block; width: 36px; height: 37px; background: url(../img/sprite_menu.png) no-repeat; }
.pure-menu-active .ico_menu_home { background-position: 0px -37px; }
.ico_menu_search { background-position: -37px 0px;  }
.pure-menu-active .ico_menu_search { background-position: -37px -37px;  }
.ico_menu_services { background-position: -74px 0px; }
.pure-menu-active .ico_menu_services { background-position: -74px -37px; }



/* _____ ICON-WORKS _____ */

.ico_w { font-family: 'icon-worksregular'; font-style: inherit; }



/* _____ jQueryFormStyler _____ */

/* полный фильтр объектов */
.filter-object-form label { line-height: 3em; }
/* селект */
.filter-object-form .jq-selectbox.jqselect { margin-bottom: 1em; font-family: tahoma; }
.filter-object-form .jq-selectbox__select { border: 1px solid #24ACC0; background: none; box-shadow: none; line-height: 30px; font-family: inherit; }
.filter-object-form .jq-selectbox__select:hover { background-color: #fff; }
.filter-object-form .jq-selectbox__select .jq-selectbox__trigger { border-left: none; }
.filter-object-form .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow { border-top: 5px solid #24ACC0; opacity: 1; }
/* пункты селекта */
.filter-object-form .jq-selectbox li.selected { background-color: #b1e8f0; color: #444;}
.filter-object-form .jq-selectbox li:hover { background-color: #24ACC0; color: #fff;}
.filter-object-form .jq-selectbox__dropdown { line-height: 18px; font-family: inherit; }
/* чекбоксы */
.filter-object-form .jq-checkbox { border: 1px solid #24ACC0; background: none; box-shadow: none; padding: 2px; overflow: visible !important; }
.filter-object-form .jq-checkbox.checked .jq-checkbox__div,
.filter-object-form label:hover .jq-checkbox .jq-checkbox__div { width: 13px; height: 11px; margin: 2px 0 0 0px; background: url(../js/jQueryFormStyler/checkbox.png) no-repeat; box-shadow: none; }
.filter-object-form .jq-checkbox.checked .jq-checkbox__div { background-position: 0px 0px !important; }
.filter-object-form label:hover .jq-checkbox .jq-checkbox__div { background-position: 0px -11px; }


/* _____ FOTORAMA ( кастомизация ) _____ */
.fotorama__arr { background: none !important; width: 50px !important; height: 47px !important; }
.fotorama__arr.fotorama__arr--next:after,
.fotorama__arr.fotorama__arr--prev:after { display: block; content: ""; width: 50px; height: 47px; background: url(../img/template/slider_arr.png) no-repeat; position: relative; }
.fotorama__arr.fotorama__arr--next:after { background-position: -50px 0; }
.fotorama__arr.fotorama__arr--next:hover:after { background-position: -50px -48px; }
.fotorama__arr.fotorama__arr--prev:after { background-position: 0 0; }
.fotorama__arr.fotorama__arr--prev:hover:after { background-position: 0 -48px; }
.fotorama__nav { text-align: left !important; }
.fotorama__img,
.fotorama__thumb img,
.fotorama__thumb-border { border-radius: 5px !important; }

.fotorama__stage { height: 290px !important; }
.fotorama { margin-left: -63px; }
.fotorama__wrap--css3 .fotorama__html,
.fotorama__wrap--css3 .fotorama__stage .fotorama__img { width: 76% !important; height: auto !important; margin: 0 auto; }
.fotorama__nav-wrap { width: 76%; margin-left: 60px; }
