@import url(fonts.css);
@import "http://webfonts.ru/import/sreda.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600,400&subset=cyrillic-ext,latin);

/* ==========================================================================
    HTML | GLOBAL
   ========================================================================== */
html { min-width: 1263px; }
body { font-size: 12px; color: #444; }

.pure-g [class *="pure-u"] { font-family: 'Open Sans', sans-serif !important; font-weight: 500; box-sizing: border-box; } /* тест */

/* ==========================================================================
    TYPOGRAPHY
   ========================================================================== */

h1 { font-size: 1.8em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1em; font-weight: bold; }

p { margin: 0 0 1em; line-height: 1.8em; }

a { color: #1a8696;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
a:hover { color: #1CCBE5; }

/* align text */
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }

/* size text */
.small { font-size: .9em  }
.medium { font-size: 1.15em;  }
.large { font-size: 1.5em; }
.extralarge { font-size: 2em; }
.caps { text-transform: uppercase;  }
.lowercase { text-transform: lowercase; }

/* color */
.t-blue { color: #1a8696; }

.text-elegant { font-family: 'Sreda'; letter-spacing: .1em; }


/* ==========================================================================
    HELPER
   ========================================================================== */

/* float */
.push-left { float: left; }
.push-center { float: none; margin: 0 auto; }
.push-right { float: right; }
.clearfix { clear: both; }

/* margin */
.no-m { margin: 0px; }
.m-t { margin-top: 1em; }
.m-r { margin-right: 1em; }
.m-b { margin-bottom: 1em; }
.m-l { margin-left: 1em; }



/* padding */
.no-p { padding: 0px; }
.p-t { padding-top: 1em; }
.p-r { padding-right: 1em; }
.p-b { padding-bottom: 1em; }
.p-l { padding-left: 1em; }

/* list */
ul.unstyled, ol.unstyled { list-style: none; padding-left: 0; }

/* костыль для иконки "назад" */
.fa-angle-left.hack-top { position: relative; top: -1px; }

/* ==========================================================================
    LAYOUT
   ========================================================================== */

/* Content Styles */

.layout { position: relative; }

/* сдвигаем общий слой вправо на ширину главного меню и префильтра */
.layout.filter-open { padding-left:335px; /* ширина левой колонки = главное меню + префильтр  */ }

/* зафиксировали блоки слева, будут видны всегда */
.sidebar-menu,
.filter-panel { position: fixed; top: 0; bottom: 0; overflow: auto; z-index: 999; }

/* ширина и положение левого меню */
.filter-open .sidebar-menu {
    width:80px; height: 100%;
    margin-left:-335px; /* сдвинули влево до конца окна */
}
/* ширина и положение префильтра */
.filter-open .filter-panel { width:255px; height: 100%; margin-left: -255px; /* сдвинули влево до конца окна МИНУС ширина меню */ }

/* ширина и положение контентной части */
.main-content { position: static; width: 100%; margin: 0; padding: 0; }


/* ==========================================================================
    TEMPLATE
   ========================================================================== */

/* _____ MAIN-MENU _____ */

.sidebar-menu { display: table; background: #004d57; }
.sidebar-menu .nav-inner { display: table-cell; vertical-align: middle; }
/* выбор языка */
.lang-select { position: absolute; width: 100%; top: 0; text-align: center; }
/* отступы между пунктами */
.sidebar-menu .pure-menu-link { padding: 1em 0;   font-weight: 400; }
/* цвет пункта меню */
.pure-menu-link { color: #24ACC0; }
/* цвет активного пункта меню */
.pure-menu-active .pure-menu-link { color: #eee; }
/* убрали выделение пункта активного раздела */
.sidebar-menu .pure-menu-active>.pure-menu-link,
.sidebar-menu .pure-menu-active>.pure-menu-link:hover,
.sidebar-menu .pure-menu-active>.pure-menu-link:focus  { background-color: transparent; }
/* подсветили при наведении */
.sidebar-menu .pure-menu-link:hover,
.sidebar-menu .pure-menu-link:focus { background-color: #115861; }
.sidebar-menu .pure-menu-link [class^="icon-"] { vertical-align: 0%; }

/* _____ PRE-FILTER-PANEL _____ */

.filter-panel { background: #00788a; text-align: center; }

.company > a { text-transform: uppercase; letter-spacing: .2em; font-weight: 300; color: #fff; }
.company sup { top: -1em; font-size: .4em; }

.filter-item_name { margin: 3em 0 .3em; font-family: 'Sreda'; font-size: .85em; letter-spacing: .1em; text-transform: uppercase; color: #00bbd6; }

/* перекрасили текст в кнопках */
.filter-panel .button { color: #eee; }


/* _____ MAIN CONTENT _____ */

.content-layout { padding-top: 1.5em; }

.content-box { padding: 10px 20px; }

.box-border-b { border-bottom: 1px solid #24ACC0; }

.content-subtitle { margin-bottom: 0.3em; padding-right: 0px; text-transform: uppercase; color: #999; font-size: .9em; }

/* выбор юзера */
.user-select { width: auto; margin-top: -7px; margin-right: -12px; }
/* убрали иконку справа в выпадающем меню */
.pure-menu-has-children>.pure-menu-link:after,
.pure-menu-horizontal .pure-menu-has-children>.pure-menu-link:after { content: none; }
.pure-menu-horizontal .pure-menu-children { left: inherit; right: 0px; }

/* фильтры - выбор услуг */
.filter-panel_toolbar .button:hover { color: #eee; }

.filter-object { padding-right: 3em; }
.filter-object p { margin-bottom: 15px; height: 2em; }
.appart { margin-top: -10px; }

/* полный фильтр */
.full-filter-object_wrap { position: relative; width: 100%; }
.full-filter-object { position: absolute; top:45px; width: 100%; background: #fff; border-top: 1px solid #ccc; border-right: none; padding-bottom: 2em; z-index: 99; }
.filter-object-form { width: 100%; }
.filter-object-form .width-90 { width: 90%; }
.filter-object-form label { font-size: .85em; }
/* костыль - немного переоределили ширину сетки */
.filter-object-form label.pure-u-1-2 { width: 49%; }

/* object-list */
.object-list { margin-top: 2em; }
.object-list_item { margin-bottom: 3em;  }
.object-list_item .object_wrap { margin-right: 1em; }
.object-list_item img { max-width: 100%; }
.object-list_item .obj-name { margin:1em 0 0; font-size: 1.1em; line-height: 1.3em; text-transform: uppercase; }
.object-list_item .district { margin-bottom: 1em; font-size: .9em; color: #999; }
.object-list_item .obj-description { height: 110px; overflow: hidden; }
.object-list_item .item_prise { margin: 0; font-size: 1.1em; color: #1a5f68; }

.content-title { margin: 0 0 1em; font-family: 'Sreda'; line-height: 1; font-weight: 500; }
.content-title .object-articul { font-family: 'Avenir Next', sans-serif; font-size: .6em; }
/* добавить в избранное */
.content-title .add-bookmark { position: relative; top: 8px; color: #999; }
.content-title .add-bookmark:hover { color: #FFCB00; }
.add-bookmark.active { color: #FFCB00 !important; }
/* описание объекта */
.object-content { margin-bottom: 1.5em; }
/* цена */
.object-price .fa-stack { font-size: .85em; color: #24ACC0; }
/* схема объекта - картинка */
.object-scheme { position: relative;  }
.object-scheme_wrap { width: 101px; position: absolute; background: rgba(0, 0, 0, 0.3); top: 0px; bottom: 0px; }
.object-scheme [class^="icon-"] { position: absolute; top: 30%; left: 35px; color: #999; font-size: 3em; color: #eee; }
.object-scheme img { max-width: 100px; border: 1px solid #eee; }
/* подробная информация об объекте */
.object-features { margin-top: 2em; }
.object-features li { display: inline-block; width: 49.5%; margin-bottom: 1em; letter-spacing: normal;}

/* оставьте телефон */
.phone-form { text-align: center; }
.phone-form input { box-sizing: border-box; width: 100%; border: 1px solid #ccc; padding: .6em; font-size: 1.1em; }
.phone-form input:first-child { border-bottom: none; }
.phone-form .action-submit { width: 298px; border-radius: 0 0 6px 6px; background: #004D57; padding: .7em 1em; text-transform: uppercase; color: #fff; }


/* Объекты по теме ВНИЗУ */
.relevant-obgect-bottom { position: fixed; left: 335px; bottom: 0px; right: 0px; height: 450px; min-width: 928px; padding-top: 20px; background: #FFF; box-shadow: 0px 0px 30px #CCC; z-index: 99; }
.relevant-obgect-bottom .item_prise + .obj-description { height: 87px; }
.relevant-obgect-bottom .btn-fullscreen { position: absolute; bottom: 20px; left: 20px; }

.filter-up { position: absolute; background: #FFF; z-index: 9; }


/* _____ FOOTER _____ */
.footer { height: 120px; margin-top: 50px; color: #999; }
.footer-menu { font-family: 'Sreda'; font-size: 1.2em; }
.footer-menu ul { border-top: 1px solid #eee; }
.footer-menu a {   padding: .5em 2em; color: #999; }
