@import url(fonts.css);

/* ==========================================================================
    HTML | GLOBAL
   ========================================================================== */
html { min-width: 1263px; }
body { font-size: 13px; color: #444; }

.pure-g [class *="pure-u"] { font-family: 'AvenirNext', sans-serif; font-weight: 500; box-sizing: border-box; } /* тест */

/* ==========================================================================
    TYPOGRAPHY
   ========================================================================== */

h1 { font-size: 1.8em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1em; font-weight: bold; }

p { margin: 0 0 1em; line-height: 1.5em; }

a { color: #1a8696;
    text-decoration: none;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
a:hover { color: #1CCBE5; }

/* ==========================================================================
    HELPER
   ========================================================================== */

/* float */
.push-left { float: left; }
.push-center { float: none; margin: 0 auto; }
.push-right { float: right; }
.clearfix { clear: both; }

/* margin */
.mrn { margin: 1em; }
.no-m { margin: 0px; }
.m-t { margin-top: 1em; }
.m-r { margin-right: 1em; }
.m-b { margin-bottom: 1em; }
.m-l { margin-left: 1em; }

/* padding */
.pdg { padding: 1em; }
.no-p { padding: 0px; }
.p-t { padding-top: 1em; }
.p-r { padding-right: 1em; }
.p-b { padding-bottom: 1em; }
.p-l { padding-left: 1em; }

/* unstyled list */
ul.unstyled, ol.unstyled { list-style: none; padding-left: 0; }

/* image */
.pure-img { width: 100%; }

/* align text */
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }

/* size text */
.small { font-size: .9em  }
.medium { font-size: 1.15em;  }
.large { font-size: 1.5em; }
.extralarge { font-size: 2em; }
.caps { text-transform: uppercase;  }
.lowercase { text-transform: lowercase; }

/* color */
.t-blue { color: #1a8696; }

.text-elegant { font-family: 'Copperplate'; letter-spacing: .05em; }

/* ==========================================================================
    LAYOUT
   ========================================================================== */

/* Content Styles */

.layout { position: relative; }

/* сдвигаем общий слой вправо на ширину главного меню и префильтра */
.layout.filter-open { padding-left:335px; /* ширина левой колонки = главное меню + префильтр  */ }

/* сдвигаем общий слой вправо на ширину главного меню без префильтра */
.layout.filter-close { padding-left:80px; /* ширина левой колонки = главное меню */ }

/* зафиксировали блоки слева, будут видны всегда */
.sidebar-menu,
.filter-panel { position: fixed; top: 0; bottom: 0; overflow: auto; z-index: 999; }

/* ширина и положение левого меню */
.sidebar-menu { width:80px; height: 100%; margin-left:-335px; /* сдвинули влево до конца окна */ }

/* ширина и положение левого меню без префильтра */
.filter-close .sidebar-menu { margin-left:-80px; /* сдвинули влево до конца окна */ }

/* ширина и положение префильтра */
.filter-panel { width:255px; height: 100%; margin-left: -255px; /* сдвинули влево до конца окна МИНУС ширина меню */ }

/* ширина и положение контентной части */
.main-content { position: static; width: 100%; margin: 0; padding: 0; }


/* ==========================================================================
    TEMPLATE
   ========================================================================== */

/* _____ MAIN-MENU _____ */

.sidebar-menu { display: table; background: #004d57; }
.sidebar-menu .nav-inner { display: table-cell; vertical-align: middle; }
/* выбор языка */
.lang-select { position: absolute; width: 100%; top: 0; text-align: center; }
/* отступы между пунктами */
.sidebar-menu .pure-menu-link { padding: 1em 0;   font-weight: 400; }
/* цвет пункта меню */
.pure-menu-link { color: #24ACC0; }
/* цвет активного пункта меню */
.pure-menu-active .pure-menu-link { color: #eee; }
/* убрали выделение пункта активного раздела */
.sidebar-menu .pure-menu-active>.pure-menu-link,
.sidebar-menu .pure-menu-active>.pure-menu-link:hover,
.sidebar-menu .pure-menu-active>.pure-menu-link:focus  { background-color: transparent; }
/* подсветили при наведении */
.sidebar-menu .pure-menu-link:hover,
.sidebar-menu .pure-menu-link:focus { background-color: #115861; }
.sidebar-menu .pure-menu-link [class^="icon-"] { vertical-align: 0%; }



/* _____ PRE-FILTER-PANEL _____ */

.filter-panel { background: #00788a; text-align: center; }

.company > a { text-transform: uppercase; letter-spacing: .2em; font-weight: 300; color: #fff; }
.company sup { top: -1em; font-size: .4em; }

.filter-item_name { margin: 3em 0 .3em; font-family: 'Copperplate'; text-transform: uppercase; color: #00bbd6; }

/* перекрасили текст в кнопках */
.filter-panel .button { color: #eee; }



/* _____ MAIN CONTENT _____ */

.content-layout { max-width: 928px; padding-top: 1.5em; }

.content-box { padding: 16px 20px 8px; }

.box-border-b { border-bottom: 1px solid #24ACC0; }

.content-subtitle { margin-bottom: 0.3em; padding-right: 0px; text-transform: uppercase; color: #999; font-size: .85em; letter-spacing: .05em; }

/* ГЛАВНАЯ СТРАНИЦА */
.prefilter-min { background: #00788a; padding: 4px 20px; text-align: center; }
.prefilter-min a { color: #fff; margin-top: 5px; }
.search-btn { margin-top: -5px; margin-right: 40px; }
/* блоки на главной */
.section-box { position: relative; }
.section-title { position: absolute; width: auto; top: 0px; padding: 40px; font-size: 2.5em; font-weight: bold; text-transform: uppercase; color: #fff; }
.section-tag { position: absolute; bottom: 0; width: auto; padding: 30px; }
/* футер на главной */
.index-footer { padding: 10px 0px; }
.index-footer .footer-menu ul { border-top: none; }


/* выбор юзера */
.user-select { width: auto; margin-top: -6px; margin-right: -12px; }
/* убрали иконку справа в выпадающем меню */
.pure-menu-has-children>.pure-menu-link:after,
.pure-menu-horizontal .pure-menu-has-children>.pure-menu-link:after { content: none; }
.pure-menu-horizontal .pure-menu-children { left: inherit; right: 0px; }

/* фильтры - выбор услуг */
.filter-panel_toolbar .button:hover { color: #eee; }

.filter-object { padding-right: 3em; }
.filter-object p { margin-bottom: 15px; height: 2em; }
.appart { margin-top: -10px; }

/* полный фильтр */
.full-filter-object_wrap { position: relative; width: 100%; }
.full-filter-object { position: absolute; top:45px; width: 100%; background: #fff; border-top: 1px solid #ccc; border-right: none; padding-bottom: 2em; z-index: 99; }
.filter-object-form { width: 100%; }
.filter-object-form .width-90 { width: 90%; }
.filter-object-form label { font-size: .85em; }
/* костыль - немного переоределили ширину сетки */
.filter-object-form label.pure-u-1-2 { width: 49%; }

/* OBJECT`S-TABLE */
.objects-table { width: 100%; border: none; margin-left: -1em; }
.objects-table tr:hover td { background: #eee; }
.objects-table td, .objects-table th { border-left: none; vertical-align: top; text-align: left; }
.objects-table th { border-bottom: none; color: #999; font-size: .7em; font-weight: normal; text-transform: uppercase; }
.objects-table th span { border-bottom: 1px dashed #999; }
.objects-table td { padding-top: 1em; padding-bottom: 2em; }
.objects-table .obj_mark { width: 50px; font-size: .85em; color: #999; }
.objects-table .obj_name { width: 150px;  font-family: 'Copperplate'; letter-spacing: .05em; font-weight: bold; text-transform: uppercase; }
.objects-table .obj_adress { width: 195px; }
.objects-table .obj_area { width: 90px; }
.objects-table .obj_rums { width: 110px; }
.objects-table .obj_prise { width: 90px; }
.objects-table .obj_prise span { color: #00788A; }
.objects-table .obj_img { width: 150px; }
.objects-table .obj_img img { max-width: 150px; border-radius: 5px; }
.objects-table .obj_img .img-title { opacity: .99; border-radius: 0px 0px 5px 5px; margin-top: -28px; padding: 5px; background: rgba(0, 0, 0, 0.5); font-size: .8em; color: #fff; }


/* object-list */
.object-list { margin-top: 2em; }
.object-list_item { margin-bottom: 3em;  }
.object-list_item .object_wrap { margin-right: 1em; }
.obj-avatar img { max-width: 100%; border-radius: 5px; }
.object-list_item .obj-name { margin:1em 0 0; line-height: 1.3em; text-transform: uppercase; }
.object-list_item .district { margin-bottom: 1em; font-size: .9em; color: #999; }
.object-list_item .obj-description { height: 110px; overflow: hidden; }
.object-list_item .item_prise { margin: 0; font-size: 1.1em; color: #1a5f68; }

.box-title { margin: 0 0 .5em; font-family: 'Copperplate'; vertical-align: top; text-transform: uppercase; font-size:1.2em; font-weight: 500; }
.content-title { margin: 0 0 .5em; font-family: 'Copperplate'; vertical-align: top; text-transform: uppercase; font-size: 1.5em; font-weight: 500; }
.object-articul { font-size: 1em; }
/* добавить в избранное */
.content-title .add-bookmark { position: relative; top: 8px; color: #999; }
.content-title .add-bookmark:hover { color: #FFCB00; }
.add-bookmark.active { color: #FFCB00 !important; }
/* описание объекта */
.object-content { margin-bottom: 1.5em; }
/* цена */
.object-price .fa-stack { font-size: .85em; color: #24ACC0; }
/* схема объекта - картинка */
.object-scheme { position: relative;  }
.object-scheme_wrap { width: 101px; position: absolute; background: rgba(0, 0, 0, 0.3); top: 0px; bottom: 0px; border-radius: 5px; }
.object-scheme [class^="icon-"] { position: absolute; top: 30%; left: 35px; color: #999; font-size: 3em; color: #eee; }
.object-scheme img { max-width: 100px; border: 1px solid #eee; }
/* подробная информация об объекте */
.object-features { margin-top: 2em; }
.object-features li { display: inline-block; width: 49.5%; margin-bottom: 1em; vertical-align: top; letter-spacing: normal; }

/* оставьте телефон */
.phone-form { text-align: center; }
.phone-form input { box-sizing: border-box; width: 100%; border: 1px solid #ccc; padding: .6em; font-size: 1.1em; }
.phone-form input:first-child { border-bottom: none; }
.phone-form .action-submit { width: 298px; border-radius: 0 0 6px 6px; background: #004D57; padding: .7em 1em; text-transform: uppercase; color: #fff; }


/* Объекты по теме ВНИЗУ */
.relevant-obgect-bottom { position: fixed; left: 335px; bottom: 0px; right: 0px; height: 450px; min-width: 928px; padding-top: 20px; background: #FFF; box-shadow: 0px 0px 30px #CCC; z-index: 99; }
.relevant-obgect-bottom .item_prise + .obj-description { height: 87px; }
.relevant-obgect-bottom .btn-fullscreen { position: absolute; bottom: 20px; left: 20px; }

.filter-up { position: absolute; background: #FFF; z-index: 9; }



/* _____ FOOTER _____ */
.footer { margin-top: 50px; color: #999; }

.footer-index { height: auto; margin-top: 0px; padding: 10px 0;}
.footer-index .footer-menu ul { border-top: none; }

.footer-menu { border-top: 1px solid #ccc; font-family: 'Copperplate'; font-size: 1em 1.2em; letter-spacing: .05em; }
.footer-menu ul { text-transform: uppercase; }
.footer-menu a { padding: 1em; color: #999; }
