@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/AvenirNext/reg/AvenirNext-Regular.eot');
	src: url('../fonts/AvenirNext/reg/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext/reg/AvenirNext-Regular.woff') format('woff'),
		url('../fonts/AvenirNext/reg/AvenirNext-Regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/AvenirNext/med/AvenirNext-Medium.eot');
	src: url('../fonts/AvenirNext/med/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext/med/AvenirNext-Medium.woff') format('woff'),
		url('../fonts/AvenirNext/med/AvenirNext-Medium.ttf')  format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Copperplate';
	src: url('../fonts/copperplate/Copperplate.eot');
	src: url('../fonts/copperplate/Copperplate.eot?#iefix') format('embedded-opentype'),
		url('../fonts/copperplate/Copperplate.woff') format('woff'),
		url('../fonts/copperplate/Copperplate.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Copperplate';
	src: url('../fonts/copperplate/Copperplate-Light.eot');
	src: url('../fonts/copperplate/Copperplate-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/copperplate/Copperplate-Light.woff') format('woff'),
		url('../fonts/copperplate/Copperplate-Light.ttf')  format('truetype');
	font-weight: 300;
	font-style: normal;
}
