@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?11148789');
  src: url('../font/fontello.eot?11148789#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?11148789') format('woff'),
       url('../font/fontello.ttf?11148789') format('truetype'),
       url('../font/fontello.svg?11148789#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?11148789#fontello') format('svg');
  }
}
*/

 [class^="ico-fontello-"]:before, [class*=" ico-fontello-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased ico-fontellos size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.ico-fontello-star:before { content: '\e800'; }
.ico-fontello-mail:before { content: '\e801'; }
.ico-fontello-envelope:before { content: '\e802'; }
.ico-fontello-envelope-open:before { content: '\e803'; } /* '' */
.ico-fontello-clip:before { content: '\e804'; } /* '' */
.ico-fontello-diskette:before { content: '\e805'; } /* '' */
.ico-fontello-close:before { content: '\e806'; } /* '' */
.ico-fontello-zoom:before { content: '\e807'; } /* '' */
.ico-fontello-zoom-out:before { content: '\e808'; } /* '' */
.ico-fontello-attention:before { content: '\e809'; } /* '' */
.ico-fontello-question:before { content: '\e80a'; } /* '' */
.ico-fontello-glyph-11:before { content: '\e80b'; } /* '' */
.ico-fontello-close:before { content: '\e80c'; } /* '' */
.ico-fontello-plus:before { content: '\e80d'; } /* '' */
.ico-fontello-glyph-14:before { content: '\e80e'; } /* '' */
.ico-fontello-glyph-15:before { content: '\e80f'; } /* '' */
.ico-fontello-glyph-16:before { content: '\e810'; } /* '' */
.ico-fontello-glyph-17:before { content: '\e811'; } /* '' */
.ico-fontello-glyph-18:before { content: '\e812'; } /* '' */
.ico-fontello-glyph-19:before { content: '\e813'; } /* '' */
.ico-fontello-glyph-20:before { content: '\e814'; } /* '' */
.ico-fontello-glyph-21:before { content: '\e815'; } /* '' */
.ico-fontello-glyph-22:before { content: '\e816'; } /* '' */
.ico-fontello-glyph-23:before { content: '\e817'; } /* '' */
.ico-fontello-glyph-24:before { content: '\e818'; } /* '' */
.ico-fontello-glyph-25:before { content: '\e819'; } /* '' */
.ico-fontello-glyph-26:before { content: '\e81a'; } /* '' */
.ico-fontello-glyph-27:before { content: '\e81b'; } /* '' */
.ico-fontello-glyph-28:before { content: '\e81c'; } /* '' */
.ico-fontello-glyph-29:before { content: '\e81d'; } /* '' */
.ico-fontello-glyph-30:before { content: '\e81e'; } /* '' */
.ico-fontello-glyph-31:before { content: '\e81f'; } /* '' */
.ico-fontello-glyph-32:before { content: '\e820'; } /* '' */
.ico-fontello-glyph-33:before { content: '\e821'; } /* '' */
.ico-fontello-glyph-34:before { content: '\e822'; } /* '' */
.ico-fontello-euro:before { content: '\e823'; } /* '' */
.ico-fontello-rouble:before { content: '\e824'; } /* '' */
.ico-fontello-popup:before { content: '\e825'; } /* '' */
.ico-fontello-popup-1:before { content: '\e826'; } /* '' */
.ico-fontello-dollar:before { content: '\e827'; } /* '' */
.ico-fontello-pound:before { content: '\e828'; } /* '' */
.ico-fontello-rupee:before { content: '\e829'; } /* '' */
.ico-fontello-yen:before { content: '\e82a'; } /* '' */
.ico-fontello-shekel:before { content: '\e82b'; } /* '' */
.ico-fontello-bitcoin:before { content: '\e82c'; } /* '' */
.ico-fontello-won:before { content: '\e82d'; } /* '' */
.ico-fontello-try:before { content: '\e82e'; } /* '' */
.ico-fontello-viacoin:before { content: '\e82f'; } /* '' */
