
.icon-glyph:before { content: '\e800'; } /* '' */
.icon-glyph-1:before { content: '\e801'; } /* '' */
.icon-glyph-2:before { content: '\e802'; } /* '' */
.icon-glyph-3:before { content: '\e803'; } /* '' */
.icon-glyph-4:before { content: '\e804'; } /* '' */
.icon-glyph-5:before { content: '\e805'; } /* '' */
.icon-glyph-6:before { content: '\e806'; } /* '' */
.icon-glyph-7:before { content: '\e807'; } /* '' */
.icon-glyph-8:before { content: '\e808'; } /* '' */
.icon-glyph-9:before { content: '\e809'; } /* '' */
.icon-glyph-10:before { content: '\e80a'; } /* '' */
.icon-glyph-11:before { content: '\e80b'; } /* '' */
.icon-glyph-12:before { content: '\e80c'; } /* '' */
.icon-glyph-13:before { content: '\e80d'; } /* '' */
.icon-glyph-14:before { content: '\e80e'; } /* '' */
.icon-glyph-15:before { content: '\e80f'; } /* '' */
.icon-glyph-16:before { content: '\e810'; } /* '' */
.icon-glyph-17:before { content: '\e811'; } /* '' */
.icon-glyph-18:before { content: '\e812'; } /* '' */
.icon-glyph-19:before { content: '\e813'; } /* '' */
.icon-glyph-20:before { content: '\e814'; } /* '' */
.icon-glyph-21:before { content: '\e815'; } /* '' */
.icon-glyph-22:before { content: '\e816'; } /* '' */
.icon-glyph-23:before { content: '\e817'; } /* '' */
.icon-glyph-24:before { content: '\e818'; } /* '' */
.icon-glyph-25:before { content: '\e819'; } /* '' */
.icon-glyph-26:before { content: '\e81a'; } /* '' */
.icon-glyph-27:before { content: '\e81b'; } /* '' */
.icon-glyph-28:before { content: '\e81c'; } /* '' */
.icon-glyph-29:before { content: '\e81d'; } /* '' */
.icon-glyph-30:before { content: '\e81e'; } /* '' */
.icon-glyph-31:before { content: '\e81f'; } /* '' */
.icon-glyph-32:before { content: '\e820'; } /* '' */
.icon-glyph-33:before { content: '\e821'; } /* '' */
.icon-glyph-34:before { content: '\e822'; } /* '' */
.icon-euro:before { content: '\e823'; } /* '' */
.icon-rouble:before { content: '\e824'; } /* '' */
.icon-popup:before { content: '\e825'; } /* '' */
.icon-popup-1:before { content: '\e826'; } /* '' */
.icon-dollar:before { content: '\e827'; } /* '' */
.icon-pound:before { content: '\e828'; } /* '' */
.icon-rupee:before { content: '\e829'; } /* '' */
.icon-yen:before { content: '\e82a'; } /* '' */
.icon-shekel:before { content: '\e82b'; } /* '' */
.icon-bitcoin:before { content: '\e82c'; } /* '' */
.icon-won:before { content: '\e82d'; } /* '' */
.icon-try:before { content: '\e82e'; } /* '' */
.icon-viacoin:before { content: '\e82f'; } /* '' */
